body {
  background-image: url("background.jpg");
  background-size: cover;
}

h1 {
  font-size: 45px;
  color: white;
}
h2 {
  font-size: 30px;
  color: black;
}

.back
{
 background-color: AliceBlue;
 width: 400px;
 border: 25px groove maroon;
 padding: 25px;
 margin: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
p
{
margin-bottom:0px;
background-color: white;
font-size: 25px;
  color: black;
}